<ngb-carousel class="container-fluid">
  <ng-template ngbSlide>
    <img @fade src="../../assets/JaJang-carousel-1.png" alt="First slide" routerLink="/restaurants">
    <div class="carousel-caption text-dark">
    </div>
  </ng-template>
  <ng-template ngbSlide >
    <img @fade src="../../assets/JaJang-carousel-2.png" alt="Second slide">
    <div class="carousel-caption text-dark">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img fade src="../../assets/JaJang-carousel-3.png" alt="Third slide">
    <div class="carousel-caption text-dark">
    </div>
  </ng-template>
</ngb-carousel>
