<div *ngIf="orders$ | async as orders">
<ng-container>
  <table class="table" *ngFor="let order of orders">
    <thead>
    <tr>
      <th></th>
      <th>Product</th>
      <th style="width: 230px;">Quantity</th>
      <th style="width: 200px;">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of order.items">
      <td><img [src]="item.imageUrl" class="thumbnail"></td>
      <td class="align-middle">
        {{ item.title }}
      </td>
      <td class="align-middle">
        {{ item.quantity }}
      </td>
      <td class="align-middle">
        {{ item.quantity * item.price | currency:'USD':true}}
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th>
        {{ order.totalPrice | currency:'USD':true}}
      </th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th>
        <div *ngIf="order.status === 'cooked'">
          This order has been cooked.
        </div>
        <div *ngIf="order.status !== 'cooked'">
          <button  *ngIf="order.status !== 'cooking' "mat-raised-button color="primary"(click)="cook(order.key)">Cook it</button>
          <button  *ngIf="order.status === 'cooking' "mat-raised-button disabled color="primary">Cooking...</button>
          <button  *ngIf="order.status === 'cooking' "mat-raised-button color="primary" (click)="finishCook(order.key)" class="mt-2">Finish cook</button>
        </div>
      </th>
    </tr>
    </tfoot>
  </table>

</ng-container>
  <button mat-raised-button color="primary" (click)="checkOut()" class="mt-2">Check Out This Table</button>
</div>



